html,
body {
  padding         : 0;
  margin          : 0;
  height          : 100%;
  background-color: #444;
  font-family     : sans-serif;
  overflow        : hidden;
}

:focus {
  outline: 0;
}

.bg-white {
  background-color: white !important;
}